.sidebar {
  width: auto;
  height: 50vh; /* Set sidebar height to fill the vertical space */
  position: fixed;
  top: auto; /* Position at the top */
  left: 0; /* Position on the left */
  background-color: #000000;
  color: #241d1d;
  display: flex; /* Use flex to center content vertically */
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content horizontally */
  margin-left: 20px;
}

.sidebar-content {
  flex: 1; /* Allow content to expand and fill available vertical space */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-links {
  list-style: none;
  padding: 0;
}

.sidebar-links li {
  margin-bottom: 10px;
}

.sidebar-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s;
}

.sidebar-link:hover {
  background-color: #555;
}
